<!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Acerda de mi</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead">Estudiante de la asignatura de Programacion Web dentro de la Universidad de las fuerzas Armadas Espe.</p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">Edad de 19 años, en 4to semestre dentro de la carrera de Ing. en Software, cursando todo con actitud y esfuerzo.</p></div>
                </div>
                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                        <i class="fas fa-download me-2"></i>
                        Conoce mas sobre mi!
                    </a>
                </div>
            </div>
        </section>